
@import './base.css';

#app {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 4fr;
grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'sidebar header'
    'sidebar main'
    'footer footer';
  margin: 0 auto;
}

